
.section-header{
    border-bottom: 3px solid #00796b;
    width:50px;
    margin: 0 auto;
}
.title-border{
    border-bottom: 3px solid rgb(196, 191, 191);
    width:220px;
}
.readmore{
    text-decoration: none;
}